.controls {
  margin-top: 0.9rem;
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  gap: 1rem;

  &__btns {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
  }

  &__btn {
    cursor: pointer;
    height: 3rem;

    &--generate {
      flex-basis: 50%;
    }
    &--start-race,
    &--reset-race {
      flex-basis: 25%;
    }
  }
}

.form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 1rem;

  &__name {
    font-size: 1.6rem;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    border: none;

    &:focus {
      filter: drop-shadow(0 0 0.6em #3178c6aa);
    }
  }

  &__color {
    cursor: pointer;
    border-radius: 2px;
    border: none;
  }

  &__btn {
    cursor: pointer;
    width: 10rem;
    text-transform: capitalize;
    border: none;
    font-size: 1.6rem;
    font-family: inherit;
    border-radius: 0.7rem;
    transition: all 0.2s;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        filter: drop-shadow(0 0 1em #3178c6aa);
      }
    }
  }
}
