.cars {
  margin-top: 3rem;
  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  &__pagination {
    display: flex;

    & p {
      width: 9rem;
      text-align: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    border-bottom: 2px dotted #fff;

    &--top {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      height: 2.9rem;
    }

    &--bottom {
      position: relative;
      display: flex;
      gap: 2rem;
      align-items: center;
      height: 3.2rem;
    }
  }

  &__drive-contol {
    display: flex;
    gap: 0.8rem;
  }

  &__name {
    margin-left: 0.6rem;
    color: var(--color-car-name);
  }

  &__figure {
    width: 10rem;
    height: 3.2rem;
    position: absolute;
    top: 0;
    left: var(--start-car-position-px);

    & svg {
      width: 100%;
      height: 100%;
    }
  }

  &__flag {
    position: absolute;
    right: 11rem;
    top: -1.5rem;
    width: 6rem;
    height: 5rem;

    & svg {
      width: 100%;
      height: 100%;
    }
  }

  &__btn {
    cursor: pointer;
    &--go,
    &--stop {
      font-size: 1.8rem;
      padding: 0.2rem;
      background-color: transparent;
      border: none;

      &:disabled {
        opacity: 0.5;
      }
    }

    &--go {
      color: rgb(36, 113, 17);
      box-shadow: 0 0 4px rgb(36, 113, 17);
    }

    &--stop {
      color: rgb(165, 10, 10);
      box-shadow: 0 0 4px rgb(165, 10, 10);
    }
  }
}
