.winners-table {
  &__info {
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
  }

  &__table {
    margin: 0 auto;
    max-width: 60rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  }

  &__head {
    display: flex;
    justify-content: space-around;
    background-color: rgb(13, 184, 207);
    border-bottom: 2px solid #fff;
    & span {
      padding: 0.3rem 0;
      flex: 1;
      text-transform: capitalize;
      text-align: center;

      &:not(:first-child) {
        border-left: 1px solid rgba(255, 255, 255, 0.208);
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    & span {
      flex: 1;
      padding: 0.3rem 0;
      text-transform: capitalize;
      text-align: center;
      display: flex;
      justify-content: center;

      /* &:not(:first-child) {
        border-left: 1px solid rgba(255, 255, 255, 0.208);
      } */
    }

    &:nth-child(odd) {
      background-color: rgba(255, 255, 255, 0.07);
    }
  }

  &__car-model {
    width: 7rem;
    height: 3rem;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.sortable {
  cursor: pointer;
}
